# Builtin Excel Functions

.. note::
    This page is still in progress. Come back soon!

In [1]:
import pandas as pd
df = pd.DataFrame(
    zip([1,2,3,4], ['one', 'two', 'three', 'four']),
    columns=['Number', 'Word']
)
df

   Number   Word
0       1    one
1       2    two
2       3  three
3       4   four

In [ ]:
from excelbird.fn import CONCAT  # All 506 builtin excel functions here

fr = Frame(df)
fr['Big Number'] = fr['Number'] + " thousand"

fr['Combined'] = CONCAT( fr.loc['Word':'Big Number'] )

Book(fr).write(PATH)

<img src="https://i.imgur.com/XOXLZbv.png" width="400"/>