# Intro

### An HTML Layout

```html
<html>
    <body>
        <div>
            stuff
        </div>
        <div>
            more stuff
        </div>
    </body>
</html>
```

### Excelbird Layout

```python
Book(
    Sheet(
        # Structured container: Frame, Col/Row, Cell
        Frame(
            Col(
                Cell(1),
                Cell(2),
                Cell(3),
                Cell(4),
            ),
            Col(
                Cell(1),
                Cell(2),
                Cell(3),
                Cell(4),
            ),
        ),
        # Unstructured container: Stack, Sheet
        Stack(
            Cell(1),
            Row(1, 2, 3),
            Col(5, 6, 7),
            Frame([[10,20], [30, 40]]),
        )
    )
).write(path)
```

In [1]:
import pandas as pd
import excelbird as xb

df = pd.DataFrame(zip([1,2,3,4], ['one', 'two', 'three', 'four']), columns=['Number', 'Word'])

fr = xb.Frame(df)
fr

Frame([Col([Cell(1), Cell(2), Cell(3), Cell(4)]), Col([Cell(one), Cell(two), Cell(three), Cell(four)])])

In [2]:
vfr = xb.VFrame(df)
vfr

VFrame([Row([Cell(1), Cell(2), Cell(3), Cell(4)]), Row([Cell(one), Cell(two), Cell(three), Cell(four)])])

In [2]:
fr['Word']

Col([Cell(one), Cell(two), Cell(three), Cell(four)])

In [4]:
vfr['Word']

Row([Cell(one), Cell(two), Cell(three), Cell(four)])

In [5]:
fr['Big Number'] = fr['Number'] + " thousand"
fr

Frame([Col([Cell(1), Cell(2), Cell(3), Cell(4)]), Col([Cell(one), Cell(two), Cell(three), Cell(four)]), Col([Cell({...}), Cell({...}), Cell({...}), Cell({...})])])

In [ ]:
xb.Book(fr).write('test.xlsx')

<img src="https://i.imgur.com/CFOYnq6.png" width="300"/>